      <footer id="footer">
        <div class="row">
          <div class="col-lg-12">
            <a href="#top" class="float-lg-right">Back to Top</a>
          </div>
        </div>
      </footer>
  </body>
</html>